<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.5.2 Random Number Generator</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Your number is: <%= number %></h1> <br>
    <h1>Your animal is: <%= animalName %></h1> <br>
    <h1>Your color is: <%= colorName %></h1> <br>
    <h1>Your game is: <%= gameTitle %></h1> <br>
</body>
</html>