<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.5.10 Mini Blog</title>
    <style>
        .container{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .blogs-container{
            height: 500px;
            width: 1000px;
            overflow-y: scroll;
            outline: 2px black solid;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 300px;
            gap: 10px;
    
        }

        .blogs-container div{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            background-color: rgb(183, 215, 205);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>BLOGS</h1>
        <div class="blogs-container">
            <% blogs.forEach(blog => { %>
                <div>
                    <h2><%= blog.title %></h2>
                    <a href="/blogs/<%= blog.id %>">
                        View
                    </a>
                    <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn">
                            Delete
                        </button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>

