<%- include("./partials/header.ejs") %>
  <main>
    <section>
      <h2>Hello There!</h2>
      <p>
        Welcome to my corner of the internet. This website is a simple place
        where you can learn more about me, my hobbies, and how to get in touch.
      </p>
    </section>

    <section>
      <h2>Latest Updates</h2>
      <ul>
        <li>Started learning web development</li>
        <li>Exploring photography and design</li>
        <li>Working on personal creative projects</li>
      </ul>
    </section>
  </main>
<%- include("./partials/footer.ejs") %>