<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.5.6 Guestbook App</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1>Guestbook App</h1>
            <form action="/" method="POST">
                <label for="name-input"><strong>Name: </strong></label>
                <input type="text" name="nameInput" id="name-input" placeholder="Enter your name">
                <label for="message-input"><strong>Message: </strong></label>
                <input type="text" name="messageInput" id="message-input" placeholder="Enter your message">
                <button id="add-button" type="submit">Add</button> <button type="reset">Reset</button>
            </form>
        </div>
        <div class="messages-container" id="messages-container-id">
            <% messages.forEach(message => { %>
                <div class="message-container">
                    <h3>Message from <%=message.from%></h3>
                    <form action="/message" method="GET">
                        <input 
                            type="hidden"
                            name="messageId"
                            value="<%= message.id %>">
                        <button type="submit">
                            view
                        </button>
                    </form>
                </div>
            <%})%>
            
        </div>
    </div>
    <script>
        const nameInputBtn = document.getElementById("name-input");
        const messageInputBtn = document.getElementById("message-input");
        const addBtn = document.getElementById("add-button");

        const form = document.querySelector("form");

        form.addEventListener("submit", (e) => {
            if (!nameInputBtn.value || !messageInputBtn.value) {
                e.preventDefault();
                alert("Please input both fields!");
            }
        });
    </script>
</body>
</html>