<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Bio Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h3>Mini Bio Website</h1>
        <div class="gap-xs">
            <a href="/">Home</a>
            <a href="/hobbies">Hobbies</a>
            <a href="/contacts">Contacts</a>
            <a href="/about">About</a>
        </div>
    </header>