<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.5.12 Product Catalog</title>
</head>
<body>
    <h1>Halo</h1>
    
    <% products.forEach(product => { %>
        <h1><%= product.name %></h1>
        <p>Price: <%= product.price %></p>
        <a href="/products/<%= product.name %>">View</a>
    <% }) %>

</body>
</html>